<!DOCTYPE html>
<html>

<head>
    <title>Libra Trace</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<body>
    <div class="header">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Libra Trace</a>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#headerNavbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="headerNavbar">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="/">SEARCH</a></li>
                        <li class="nav-item"><a class="nav-link" href="/news">NEWS</a></li>
                        <li class="nav-item"><a class="nav-link" href="/api">API</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="content">
        <div class="main container">
            <h2>Libra blockchain explorer</h2>
            <form action="/query">
                <div class="input-group mb-3 mt-5">
                    <input type="text" class="form-control" placeholder="Search by Address or Transaction" name="search" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            SEARCH
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    
    <div class="separator-container">
        <div class="container">
            <div class="separator"></div>
        </div>
    </div>

    <div class="extra">
        <div class="main container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="mb-3"><h4>Libra Links</h4></div>
                    <ul class="list-unstyled linklist">
                        <li><a target="_blank" class="extralink" href="https://libra.org/en-US/">Libra Homepage</a></li>
                        <li><a target="_blank" class="extralink" href="https://libra.org/en-US/vision/">Libra Vision</a></li>
                        <li><a target="_blank" class="extralink" href="https://libra.org/en-US/association/">Libra Association</a></li>
                    </ul>
                </div>
                <div class="col-md-4 text-center">
                    <div class="mb-3"><h4>Community Links</h4></div>
                    <div>
                        <ul class="list-unstyled linklist">
                            <li><a target="_blank" class="extralink" href="https://community.libra.org/">Official Libra</a></li>
                            <li><a target="_blank" class="extralink" href="https://www.reddit.com/r/libra/">Libra Reddit</a></li>
                            <li><a target="_blank" class="extralink" href="https://bitcointalk.org/">Bitcointalk</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div  class="mb-3"><h4>Developer Links</h4></div>

                    <div>
                        <ul class="list-unstyled linklist">

                            <li><a target="_blank" class="extralink" href="https://developers.libra.org/docs/welcome-to-libra">Getting Started With Libra</a></li>
                            <li><a target="_blank" class="extralink" href="https://developers.libra.org/docs/move-overview">Move Documentation</a></li>
                            <li><a target="_blank" class="extralink" href="https://hackerone.com/libra">Official Libra Bugbounty</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="page-footer font-small footer">
      <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://libratrace.net">libratrace.net</a>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/init.js"></script>
</body>

</html>
